@font-face {
    font-family: 'Gordita';
    src: url('../../../../public/font/Gordita-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('../../../../public/font/Gordita-LightItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('../../../../public/font/Gordita-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('../../../../public/font/Gordita-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('../../../../public/font/Gordita-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('../../../../public/font/Gordita-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('../../../../public/font/Gordita-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('../../../../public/font/Gordita-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('../../../../public/font/Gordita-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gordita';
    src: url('../../../../public/font/Gordita-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}